<div class="container">
  <h1>My to-do list</h1>

  <label for="addItemInput"> Add new item </label><br />
  <input #newItem type="text" id="addItemInput" />
  <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>

  <ul>
    <li *ngFor="let item of allItems">
      {{ item.descrition }}
      <input
        type="checkbox"
        [checked]="item.isDone"
        (click)="checkValue()"
        (change)="changeEvent($event)"
        [(ngModel)]="item.isDone"
      />
      <span (click)="deleteItem(item)">delete</span>
    </li>
  </ul>
</div>
